<aside aria-label="Sidebar navigation">
    <h2>Quick Navigation</h2>

    <nav aria-label="Sidebar">
        <ul>
            <li>
                <a href="../index.html">Dashboard</a>
            </li>

            <li>
                <a href="../pages/users.html">Users</a>
            </li>

            <li>
                <a href="../pages/reports.html">Reports</a>
            </li>

            <li>
                <a href="../index.html#contact">Contact</a>
            </li>
        </ul>
    </nav>
</aside>
